.sidebar {
  background: linear-gradient(#3F1414, #161110 40%);
  position: fixed;
  height: 100vh;
  width: 250px;
  top: 0;
  left: 0;
  z-index: 2;
  &__logo {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    border-bottom: 1px solid #3C3A3A;
    margin-bottom: 20px;

    img {
      width: 180px;
      height: auto;
    }
  }

  &__item {
    color: #8C8989;
    border-bottom: 1px solid #3C3A3A;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &--contain {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 12px;
      padding: 12px 20px 12px 8px;
      margin-bottom:5px;

      &::before {
        content: '';
        position: absolute;
        left: -12px;
        top: 50%;
        transform: translateY(-50%) scaleY(0);
        width: 4px;
        height: 24px;
        background-color: #ff4319;
        border-radius: 0 4px 4px 0;
        transition: transform 0.3s ease;
      }
    }

    &--icon {
      font-size: 24px;
      margin-right: 14px;
    }

    &--title {
      font-size: 14px;
    }

    &--active {
      color: #fff;
      font-weight: 600;
      background: #FFFFFF0A;
      border-radius: 12px 0 0 12px;

      &::before {
        transform: translateY(-50%) scaleY(1);
      }
    }
  }
}