.sidebar--contain {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding: 12px 20px 12px 8px;
  margin-bottom: 5px;

  &::before {
    content: '';
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%) scaleY(0);
    width: 4px;
    height: 24px;
    background-color: #ff4319;
    border-radius: 0 4px 4px 0;
    transition: transform 0.3s ease;
  }
}

.sidebar--active {
  color: #fff;
  font-weight: 600;
  background: #FFFFFF0A;
  border-radius: 12px 0 0 12px;

  &::before {
    transform: translateY(-50%) scaleY(1);
  }
}